# 데이터 EDA

## 1번 용인시 거주자의 전기차 앱실행 고객수

In [1]:
# 데이터 로드
import pandas as pd

df1 = pd.read_csv("../data/1.ev_app_resident.csv",encoding = "utf-8")
df1

,base_dt,dow,ccw_cd,ccw_nm,adng_cd,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust
0,20220605,7,4146,용인시,41463572,동백1동,86135034,127.152250,37.286300,MALE,6,EV라운지,5,3.522
1,20220625,6,4146,용인시,41465580,상현2동,84375196,127.090080,37.309536,MALE,8,파워큐브차저,2,4.231
2,20220614,2,4146,용인시,41461250,포곡읍,87958893,127.216600,37.274303,FEMALE,14,EV라운지,1,18.440
3,20220619,7,4146,용인시,41465530,신봉동,84119243,127.080970,37.323480,MALE,13,EV라운지,2,4.335
4,20220624,5,4146,용인시,41465580,상현2동,84423187,127.091780,37.306840,MALE,8,EV라운지,4,4.231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292038,20220605,7,4146,용인시,41465570,상현1동,84071205,127.079384,37.304993,MALE,2,EV라운지,3,5.082
292039,20220607,2,4146,용인시,41461510,중앙동,87286847,127.193080,37.234580,MALE,3,EV라운지,6,4.585
292040,20220611,6,4146,용인시,41461259,남사읍,86630714,127.170300,37.156097,MALE,13,EV라운지,2,6.452
292041,20220618,6,4146,용인시,41461360,양지면,89926672,127.286095,37.230280,MALE,9,EV라운지,6,3.071
292042,20220618,6,4146,용인시,41465510,풍덕천1동,84343235,127.088860,37.326210,MALE,9,하이차저,2,3.667

In [2]:
## 데이터 정보
df1.info()
### 결측치 없다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292043 entries, 0 to 292042
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   base_dt     292043 non-null  int64
 1   dow         292043 non-null  int64
 2   ccw_cd      292043 non-null  int64
 3   ccw_nm      292043 non-null  object
 4   adng_cd     292043 non-null  int64
 5   adng_nm     292043 non-null  object
 6   cell_id     292043 non-null  int64
 7   cell_xcrd   292043 non-null  float64
 8   cell_ycrd   292043 non-null  float64
 9   gender      292043 non-null  object
 10  age         292043 non-null  int64
 11  app_web     292043 non-null  object
 12  time_zone   292043 non-null  int64
 13  count_cust  292043 non-null  float64
dtypes: float64(3), int64(7), object(4)
memory usage: 31.2+ MB

In [3]:
df1.head(3).T

                    0          1          2
base_dt      20220605   20220625   20220614
dow                 7          6          2
ccw_cd           4146       4146       4146
ccw_nm            용인시        용인시        용인시
adng_cd      41463572   41465580   41461250
adng_nm          동백1동       상현2동        포곡읍
cell_id      86135034   84375196   87958893
cell_xcrd   127.15225  127.09008   127.2166
cell_ycrd     37.2863  37.309536  37.274303
gender           MALE       MALE     FEMALE
age                 6          8         14
app_web         EV라운지     파워큐브차저      EV라운지
time_zone           5          2          1
count_cust      3.522      4.231      18.44

In [4]:
df1 = df1.drop(["ccw_cd","adng_cd"],axis = 1)

In [5]:
df1.head(3).T

                    0          1          2
base_dt      20220605   20220625   20220614
dow                 7          6          2
ccw_nm            용인시        용인시        용인시
adng_nm          동백1동       상현2동        포곡읍
cell_id      86135034   84375196   87958893
cell_xcrd   127.15225  127.09008   127.2166
cell_ycrd     37.2863  37.309536  37.274303
gender           MALE       MALE     FEMALE
age                 6          8         14
app_web         EV라운지     파워큐브차저      EV라운지
time_zone           5          2          1
count_cust      3.522      4.231      18.44

In [6]:
# df.sort_values(by=["adng_nm","base_dt","time_zone","age","cell_id"]).head(50)

## 2번 용인시 거주자의 전기차 앱실행 고객수

In [7]:
df2 = pd.read_csv("../data/2.ev_app_activity.csv",encoding = "utf-8")
df2

,base_dt,dow,ccw_cd,ccw_nm,adng_cd,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust
0,20220614,2,4146,용인시,41461256,이동읍,87958702,127.216920,37.188220,MALE,12,EV라운지,4,3.829
1,20220613,1,4146,용인시,41463570,마북동,85431116,127.127350,37.303352,MALE,14,EV라운지,1,9.994
2,20220602,4,4146,용인시,41463575,동백2동,86198990,127.154590,37.268280,MALE,14,EV라운지,4,7.502
3,20220606,1,4146,용인시,41461259,남사읍,86854741,127.178110,37.174600,MALE,9,EV라운지,4,3.234
4,20220608,3,4146,용인시,41465540,죽전1동,85159183,127.117645,37.325855,FEMALE,10,EV라운지,5,3.315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264708,20220621,2,4146,용인시,41461253,모현읍,86023090,127.148200,37.308372,MALE,7,EV라운지,2,7.140
264709,20220628,2,4146,용인시,41465530,신봉동,84103247,127.080400,37.324825,MALE,3,EV라운지,5,21.564
264710,20220626,7,4146,용인시,41463510,신갈동,84375154,127.090180,37.290607,MALE,12,EV라운지,4,3.502
264711,20220620,1,4146,용인시,41465590,성복동,83895245,127.073105,37.318040,MALE,14,EV라운지,3,11.406
264712,20220601,3,4146,용인시,41463520,구갈동,85111078,127.116196,37.277176,MALE,7,EV라운지,4,3.411

In [8]:
## 데이터 정보
df2.info()
### 결측치 없다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264713 entries, 0 to 264712
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   base_dt     264713 non-null  int64
 1   dow         264713 non-null  int64
 2   ccw_cd      264713 non-null  int64
 3   ccw_nm      264713 non-null  object
 4   adng_cd     264713 non-null  int64
 5   adng_nm     264713 non-null  object
 6   cell_id     264713 non-null  int64
 7   cell_xcrd   264713 non-null  float64
 8   cell_ycrd   264713 non-null  float64
 9   gender      264713 non-null  object
 10  age         264713 non-null  int64
 11  app_web     264713 non-null  object
 12  time_zone   264713 non-null  int64
 13  count_cust  264713 non-null  float64
dtypes: float64(3), int64(7), object(4)
memory usage: 28.3+ MB

In [9]:
df2.head(3).T

                    0          1          2
base_dt      20220614   20220613   20220602
dow                 2          1          4
ccw_cd           4146       4146       4146
ccw_nm            용인시        용인시        용인시
adng_cd      41461256   41463570   41463575
adng_nm           이동읍        마북동       동백2동
cell_id      87958702   85431116   86198990
cell_xcrd   127.21692  127.12735  127.15459
cell_ycrd    37.18822  37.303352   37.26828
gender           MALE       MALE       MALE
age                12         14         14
app_web         EV라운지      EV라운지      EV라운지
time_zone           4          1          4
count_cust      3.829      9.994      7.502

In [10]:
df2 = df2.drop(["ccw_cd","adng_cd"],axis = 1)

In [11]:
df2.head(3).T

                    0          1          2
base_dt      20220614   20220613   20220602
dow                 2          1          4
ccw_nm            용인시        용인시        용인시
adng_nm           이동읍        마북동       동백2동
cell_id      87958702   85431116   86198990
cell_xcrd   127.21692  127.12735  127.15459
cell_ycrd    37.18822  37.303352   37.26828
gender           MALE       MALE       MALE
age                12         14         14
app_web         EV라운지      EV라운지      EV라운지
time_zone           4          1          4
count_cust      3.829      9.994      7.502

## 3번 용인시 거주자의 타지역 전기차 앱실행 고객수

In [12]:
df3 = pd.read_csv("../data/3.ev_app_activity_resident.csv",encoding = "utf-8")
df3

,base_dt,dow,mega_cd,mega_nm,ccw_cd,ccw_nm,adng_cd,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust
0,20220611,6,41,경기도,4146,용인시,41461253,모현읍,86695054,127.171880,37.311146,FEMALE,13,EV라운지,1,4.492
1,20220605,7,11,서울특별시,1168,강남구,11680580,삼성1동,83591688,127.061264,37.509087,MALE,6,EV라운지,4,3.666
2,20220602,4,11,서울특별시,1120,성동구,11200670,성수2가1동,83463765,127.056560,37.540170,MALE,10,EV라운지,4,3.247
3,20220608,3,41,경기도,4146,용인시,41463510,신갈동,84951117,127.110490,37.290226,FEMALE,13,EV라운지,3,6.664
4,20220608,3,41,경기도,4150,이천시,41500330,호법면,92774456,127.386450,37.213290,MALE,11,EV라운지,5,3.945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293166,20220609,4,41,경기도,4146,용인시,41465530,신봉동,83943267,127.074730,37.329315,FEMALE,11,EV라운지,3,3.396
293167,20220626,7,41,경기도,4146,용인시,41465540,죽전1동,85719164,127.137360,37.333126,MALE,8,EV라운지,6,4.320
293168,20220607,2,41,경기도,4113,성남시,41131625,위례동,85863462,127.141785,37.471504,MALE,10,EV라운지,4,11.457
293169,20220619,7,11,서울특별시,1168,강남구,11680640,역삼1동,82791718,127.033035,37.499966,MALE,8,하이차저,5,4.232
293170,20220605,7,41,경기도,4146,용인시,41463516,영덕1동,83879146,127.072790,37.272970,FEMALE,13,EV라운지,2,5.716

In [13]:
## 데이터 정보
df3.info()
### 결측치 없다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293171 entries, 0 to 293170
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   base_dt     293171 non-null  int64
 1   dow         293171 non-null  int64
 2   mega_cd     293171 non-null  int64
 3   mega_nm     293171 non-null  object
 4   ccw_cd      293171 non-null  int64
 5   ccw_nm      293171 non-null  object
 6   adng_cd     293171 non-null  int64
 7   adng_nm     293171 non-null  object
 8   cell_id     293171 non-null  int64
 9   cell_xcrd   293171 non-null  float64
 10  cell_ycrd   293171 non-null  float64
 11  gender      293171 non-null  object
 12  age         293171 non-null  int64
 13  app_web     293171 non-null  object
 14  time_zone   293171 non-null  int64
 15  count_cust  293171 non-null  float64
dtypes: float64(3), int64(8), object(5)
memory usage: 35.8+ MB

In [14]:
df3.head(3).T

                    0           1          2
base_dt      20220611    20220605   20220602
dow                 6           7          4
mega_cd            41          11         11
mega_nm           경기도       서울특별시      서울특별시
ccw_cd           4146        1168       1120
ccw_nm            용인시         강남구        성동구
adng_cd      41461253    11680580   11200670
adng_nm           모현읍        삼성1동     성수2가1동
cell_id      86695054    83591688   83463765
cell_xcrd   127.17188  127.061264  127.05656
cell_ycrd   37.311146   37.509087   37.54017
gender         FEMALE        MALE       MALE
age                13           6         10
app_web         EV라운지       EV라운지      EV라운지
time_zone           1           4          4
count_cust      4.492       3.666      3.247

In [15]:
df3 = df3.drop(["mega_cd","mega_nm","ccw_cd","adng_cd"],axis = 1)

In [16]:
df3.head(3).T

                    0           1          2
base_dt      20220611    20220605   20220602
dow                 6           7          4
ccw_nm            용인시         강남구        성동구
adng_nm           모현읍        삼성1동     성수2가1동
cell_id      86695054    83591688   83463765
cell_xcrd   127.17188  127.061264  127.05656
cell_ycrd   37.311146   37.509087   37.54017
gender         FEMALE        MALE       MALE
age                13           6         10
app_web         EV라운지       EV라운지      EV라운지
time_zone           1           4          4
count_cust      4.492       3.666      3.247

## 최종 결합 데이터셋

In [17]:
col = df3.columns
col = col.drop("count_cust").to_list()
col

['base_dt',
 'dow',
 'ccw_nm',
 'adng_nm',
 'cell_id',
 'cell_xcrd',
 'cell_ycrd',
 'gender',
 'age',
 'app_web',
 'time_zone']

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292043 entries, 0 to 292042
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   base_dt     292043 non-null  int64
 1   dow         292043 non-null  int64
 2   ccw_nm      292043 non-null  object
 3   adng_nm     292043 non-null  object
 4   cell_id     292043 non-null  int64
 5   cell_xcrd   292043 non-null  float64
 6   cell_ycrd   292043 non-null  float64
 7   gender      292043 non-null  object
 8   age         292043 non-null  int64
 9   app_web     292043 non-null  object
 10  time_zone   292043 non-null  int64
 11  count_cust  292043 non-null  float64
dtypes: float64(3), int64(5), object(4)
memory usage: 26.7+ MB

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264713 entries, 0 to 264712
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   base_dt     264713 non-null  int64
 1   dow         264713 non-null  int64
 2   ccw_nm      264713 non-null  object
 3   adng_nm     264713 non-null  object
 4   cell_id     264713 non-null  int64
 5   cell_xcrd   264713 non-null  float64
 6   cell_ycrd   264713 non-null  float64
 7   gender      264713 non-null  object
 8   age         264713 non-null  int64
 9   app_web     264713 non-null  object
 10  time_zone   264713 non-null  int64
 11  count_cust  264713 non-null  float64
dtypes: float64(3), int64(5), object(4)
memory usage: 24.2+ MB

In [36]:
test = pd.merge(df1,df2,how = "inner", on = col,indicator=True)
display(test[100:150])
display(test)

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_x,count_cust_y,_merge
100,20220628,2,용인시,구갈동,85431060,127.127470,37.278110,MALE,5,EV라운지,3,7.108,7.108,both
101,20220606,1,용인시,서농동,83767070,127.069060,37.235550,FEMALE,12,EV라운지,6,6.116,6.116,both
102,20220630,4,용인시,상현1동,83895219,127.073166,37.306324,FEMALE,12,EV라운지,5,4.693,4.693,both
103,20220615,3,용인시,유림동,87478890,127.199740,37.259388,MALE,6,EV라운지,1,18.460,18.460,both
104,20220617,5,용인시,양지면,90262644,127.297935,37.227146,FEMALE,12,EV라운지,6,13.740,13.740,both
105,20220602,4,용인시,상현2동,84295208,127.087240,37.312683,MALE,8,에버온,1,4.231,4.231,both
106,20220609,4,용인시,역삼동,86678895,127.171630,37.239033,FEMALE,11,EV라운지,4,7.258,7.258,both
107,20220617,5,용인시,모현읍,87063100,127.184730,37.342278,MALE,12,EV라운지,2,3.727,3.727,both
108,20220620,1,용인시,이동읍,87654735,127.206190,37.194504,FEMALE,12,EV라운지,6,8.690,8.690,both
109,20220611,6,용인시,영덕2동,84327078,127.088684,37.254997,FEMALE,13,EV라운지,4,3.175,3.175,both
110,20220603,5,용인시,죽전1동,85575173,127.132280,37.333110,FEMALE,13,EV라운지,5,4.492,4.492,both
111,20220624,5,용인시,구성동,85287104,127.122314,37.293870,MALE,8,EV라운지,5,3.996,3.996,both
112,20220602,4,용인시,상현1동,84055216,127.078800,37.309498,FEMALE,9,EV라운지,4,13.677,13.677,both
113,20220617,5,용인시,보라동,85654986,127.135500,37.251095,MALE,14,EV라운지,3,4.363,4.363,both
114,20220621,2,용인시,기흥동,84711027,127.102280,37.242874,FEMALE,7,하이차저,6,3.076,3.076,both
115,20220612,7,용인시,죽전1동,85303185,127.122696,37.330830,FEMALE,12,EV라운지,2,4.492,4.492,both
116,20220622,3,용인시,이동읍,88438693,127.233790,37.197723,FEMALE,9,EV라운지,2,3.399,3.399,both
117,20220624,5,용인시,포곡읍,88134867,127.222830,37.267560,MALE,8,EV라운지,6,3.708,3.708,both
118,20220619,7,용인시,구갈동,85255057,127.121300,37.271782,FEMALE,11,EV라운지,6,3.185,3.185,both
119,20220614,2,용인시,중앙동,87478830,127.199844,37.232346,MALE,12,EV라운지,2,3.845,3.845,both
120,20220628,2,용인시,역삼동,87094863,127.186300,37.236366,FEMALE,10,EV라운지,4,3.629,3.629,both
121,20220608,3,용인시,풍덕천2동,84455209,127.092860,37.317660,MALE,12,EV라운지,6,4.051,4.051,both
122,20220628,2,용인시,동백2동,86279011,127.157360,37.280006,MALE,5,EV라운지,4,10.662,14.216,both
123,20220627,1,용인시,상현1동,83847201,127.071530,37.296852,MALE,11,하이차저,2,4.507,4.507,both
124,20220630,4,용인시,신갈동,84855097,127.107160,37.278496,MALE,3,EV라운지,1,14.868,14.868,both
125,20220622,3,용인시,구성동,85415093,127.126840,37.292534,MALE,9,EV라운지,4,3.996,3.996,both
126,20220604,6,용인시,성복동,83511270,127.059555,37.318443,FEMALE,13,EV라운지,6,15.687,15.687,both
127,20220621,2,용인시,상현2동,84439198,127.092320,37.312250,FEMALE,13,EV라운지,5,4.479,4.479,both
128,20220601,3,용인시,구성동,85975064,127.146570,37.295296,MALE,10,EV라운지,3,7.536,7.536,both
129,20220623,4,용인시,신갈동,84855100,127.107160,37.279850,FEMALE,9,EV라운지,1,16.168,16.168,both
130,20220629,3,용인시,상현2동,84215207,127.084435,37.309967,FEMALE,10,EV라운지,4,21.715,21.715,both
131,20220612,7,용인시,신갈동,84711103,127.102100,37.277130,MALE,6,하이차저,5,7.034,7.034,both
132,20220624,5,용인시,동백1동,86295015,127.157910,37.282260,MALE,3,EV라운지,6,8.860,8.860,both
133,20220605,7,용인시,동백1동,86551002,127.166930,37.283638,FEMALE,8,EV라운지,6,4.057,4.057,both
134,20220602,4,용인시,역삼동,87318849,127.194190,37.236390,FEMALE,10,EV라운지,3,10.887,10.887,both
135,20220624,5,용인시,마북동,85383121,127.125650,37.304250,MALE,5,EV Infra,4,6.630,6.630,both
136,20220615,3,용인시,신갈동,84855090,127.107185,37.275340,FEMALE,4,EV라운지,2,4.154,4.154,both
137,20220606,1,용인시,서농동,83767089,127.069010,37.244110,MALE,9,EV라운지,6,5.128,5.128,both
138,20220605,7,용인시,이동읍,87894591,127.214870,37.136383,MALE,12,EV라운지,1,11.487,11.487,both
139,20220602,4,용인시,풍덕천2동,84391214,127.090590,37.318104,MALE,12,하이차저,5,4.051,4.051,both
140,20220630,4,용인시,포곡읍,87782925,127.210360,37.283752,MALE,6,EV라운지,6,3.128,3.128,both
141,20220627,1,용인시,유림동,87174914,127.189020,37.261616,MALE,14,EV라운지,2,5.434,5.434,both
142,20220627,1,용인시,유림동,87990864,127.217770,37.262140,MALE,5,EV라운지,5,4.040,4.040,both
143,20220630,4,용인시,풍덕천1동,84487237,127.093910,37.331184,FEMALE,10,EV라운지,2,3.719,3.719,both
144,20220630,4,용인시,유림동,88390800,127.231930,37.244590,FEMALE,2,EV라운지,3,9.220,9.220,both
145,20220602,4,용인시,상현1동,84023206,127.077700,37.304085,MALE,9,EV라운지,4,3.801,3.801,both
146,20220608,3,용인시,보정동,84871156,127.107590,37.305542,FEMALE,10,하이차저,6,3.315,3.315,both
147,20220610,5,용인시,원삼면,90390505,127.302605,37.168110,MALE,10,EV라운지,6,4.585,4.585,both
148,20220603,5,용인시,역삼동,87238862,127.191360,37.239986,MALE,10,EV라운지,5,4.138,4.138,both
149,20220602,4,용인시,성복동,83767258,127.068570,37.320280,MALE,13,EV라운지,4,11.358,11.358,both

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_x,count_cust_y,_merge
0,20220619,7,용인시,신봉동,84119243,127.08097,37.323480,MALE,13,EV라운지,2,4.335,4.335,both
1,20220610,5,용인시,유림동,88358807,127.23080,37.246840,FEMALE,13,EV라운지,3,8.648,8.648,both
2,20220620,1,용인시,역삼동,86678895,127.17163,37.239033,FEMALE,11,EV라운지,5,7.258,7.258,both
3,20220617,5,용인시,동천동,84583242,127.09727,37.336150,MALE,9,EV라운지,2,4.374,4.374,both
4,20220615,3,용인시,이동읍,87734718,127.20903,37.189102,MALE,5,하이차저,1,3.229,3.229,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103121,20220610,5,용인시,죽전1동,85575165,127.13230,37.329506,FEMALE,14,EV라운지,4,9.584,9.584,both
103122,20220606,1,용인시,역삼동,87318849,127.19419,37.236390,FEMALE,10,EV라운지,2,3.629,3.629,both
103123,20220626,7,용인시,마북동,84983135,127.11157,37.299244,MALE,13,하이차저,4,8.550,8.550,both
103124,20220607,2,용인시,중앙동,87286847,127.19308,37.234580,MALE,3,EV라운지,6,4.585,4.585,both
103125,20220611,6,용인시,남사읍,86630714,127.17030,37.156097,MALE,13,EV라운지,2,6.452,6.452,both

In [37]:
test = pd.merge(df2,df3,how = "inner", on = col,indicator=True)
display(test[100:150])
display(test)

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_x,count_cust_y,_merge
100,20220612,7,용인시,신봉동,83895264,127.073050,37.326603,FEMALE,13,EV라운지,3,3.976,3.976,both
101,20220602,4,용인시,동백1동,86119036,127.151690,37.286750,MALE,9,EV라운지,6,7.540,7.540,both
102,20220615,3,용인시,풍덕천1동,84407237,127.091100,37.328922,MALE,5,하이차저,2,4.546,4.546,both
103,20220605,7,용인시,역삼동,87350848,127.195320,37.236843,MALE,5,하이차저,4,3.407,3.407,both
104,20220628,2,용인시,상현1동,84199205,127.083880,37.308613,MALE,3,G차저,4,5.082,5.082,both
105,20220626,7,용인시,상현1동,84151209,127.082184,37.309060,FEMALE,12,EV라운지,3,9.386,9.386,both
106,20220623,4,용인시,신갈동,84839089,127.106620,37.274440,MALE,9,EV라운지,4,10.764,10.764,both
107,20220605,7,용인시,신갈동,85063106,127.114450,37.288437,FEMALE,12,EV라운지,4,3.332,3.332,both
108,20220606,1,용인시,죽전1동,85239174,127.120476,37.324062,FEMALE,11,EV라운지,3,12.762,12.762,both
109,20220601,3,용인시,구성동,86151045,127.152794,37.291710,MALE,13,EV라운지,5,8.668,8.668,both
110,20220619,7,용인시,풍덕천1동,84391232,127.090550,37.326214,MALE,8,EV라운지,1,7.334,7.334,both
111,20220604,6,용인시,영덕2동,84647040,127.100000,37.246925,MALE,11,EV라운지,4,7.140,7.140,both
112,20220603,5,용인시,죽전2동,84967205,127.110850,37.330340,MALE,7,EV라운지,4,18.805,18.805,both
113,20220628,2,용인시,남사읍,86918683,127.180466,37.150270,FEMALE,11,EV라운지,2,4.049,4.049,both
114,20220620,1,용인시,모현읍,89574938,127.273360,37.340225,FEMALE,10,EV라운지,2,3.315,3.315,both
115,20220623,4,용인시,모현읍,88886942,127.249150,37.322600,FEMALE,5,EV라운지,6,7.446,7.446,both
116,20220625,6,용인시,죽전1동,85239174,127.120476,37.324062,FEMALE,11,EV라운지,4,17.016,17.016,both
117,20220608,3,용인시,상현2동,84375196,127.090080,37.309536,MALE,2,EV라운지,4,22.400,22.400,both
118,20220622,3,용인시,동백2동,86166985,127.153470,37.265120,MALE,8,하이차저,6,4.173,4.173,both
119,20220614,2,용인시,죽전1동,85255177,127.121025,37.325867,MALE,9,EV라운지,5,3.828,3.828,both
120,20220607,2,용인시,동천동,84583242,127.097270,37.336150,MALE,9,EV라운지,5,13.122,13.122,both
121,20220604,6,용인시,동백1동,86599004,127.168610,37.285896,FEMALE,10,EV라운지,4,10.887,10.887,both
122,20220623,4,용인시,신봉동,83847267,127.071360,37.326600,MALE,14,EV라운지,6,4.292,4.292,both
123,20220622,3,용인시,보정동,84839164,127.106445,37.308240,MALE,7,EV라운지,2,3.256,3.256,both
124,20220622,3,용인시,역삼동,86502905,127.165436,37.238564,FEMALE,11,EV라운지,3,3.629,3.629,both
125,20220623,4,용인시,기흥동,84743005,127.103455,37.233864,FEMALE,11,EV라운지,6,3.227,3.227,both
126,20220630,4,용인시,영덕2동,84391075,127.090935,37.255455,FEMALE,10,EV라운지,2,3.296,3.296,both
127,20220602,4,용인시,영덕1동,83975148,127.076160,37.276590,MALE,10,EV라운지,3,9.165,9.165,both
128,20220608,3,용인시,상갈동,84967062,127.111176,37.265892,MALE,6,EV라운지,3,3.424,3.424,both
129,20220627,1,용인시,죽전1동,85239195,127.120420,37.333527,MALE,13,EV라운지,3,4.121,4.121,both
130,20220613,1,용인시,죽전1동,85335193,127.123800,37.335340,FEMALE,11,EV라운지,4,17.016,17.016,both
131,20220628,2,용인시,유림동,87062917,127.185074,37.259800,FEMALE,7,EV라운지,4,8.529,8.529,both
132,20220608,3,용인시,백암면,93446160,127.410255,37.098830,MALE,14,EV라운지,2,6.042,6.042,both
133,20220618,6,용인시,모현읍,88103055,127.221390,37.351383,FEMALE,10,EV라운지,5,6.470,6.470,both
134,20220623,4,용인시,상현2동,84327191,127.088400,37.305927,MALE,9,EV라운지,6,4.231,4.231,both
135,20220627,1,용인시,동천동,83223376,127.049164,37.358063,MALE,11,EV라운지,4,4.882,4.882,both
136,20220612,7,용인시,상하동,85750999,127.138840,37.259670,MALE,7,EV라운지,6,3.248,3.248,both
137,20220624,5,용인시,동천동,84407249,127.091070,37.334328,FEMALE,9,EV라운지,5,4.118,4.118,both
138,20220603,5,용인시,원삼면,90694539,127.313240,37.192017,MALE,14,EV라운지,2,14.384,14.384,both
139,20220629,3,용인시,포곡읍,88086884,127.221115,37.273865,MALE,9,EV라운지,5,4.078,4.078,both
140,20220624,5,용인시,중앙동,87334847,127.194756,37.235940,FEMALE,3,EV라운지,5,9.060,9.060,both
141,20220619,7,용인시,동천동,84455241,127.092770,37.332080,MALE,9,EV라운지,3,4.374,4.374,both
142,20220613,1,용인시,상현2동,84343205,127.088930,37.312687,MALE,14,EV라운지,4,5.146,5.146,both
143,20220619,7,용인시,마북동,84983139,127.111565,37.301050,MALE,6,EV라운지,1,3.570,3.570,both
144,20220608,3,용인시,유림동,88550798,127.237560,37.248210,FEMALE,8,EV라운지,3,4.294,4.294,both
145,20220611,6,용인시,서농동,84023062,127.078060,37.239185,FEMALE,2,EV라운지,4,3.971,3.971,both
146,20220612,7,용인시,성복동,83831251,127.070840,37.318935,FEMALE,14,G차저,4,5.230,5.230,both
147,20220622,3,용인시,구성동,86071069,127.149930,37.300266,MALE,12,EV라운지,4,8.668,8.668,both
148,20220612,7,용인시,원삼면,90934480,127.321740,37.172200,MALE,13,EV라운지,4,10.988,10.988,both
149,20220603,5,용인시,상현2동,84359199,127.089510,37.310436,FEMALE,8,하이차저,4,4.607,4.607,both

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_x,count_cust_y,_merge
0,20220614,2,용인시,이동읍,87958702,127.216920,37.188220,MALE,12,EV라운지,4,3.829,3.829,both
1,20220613,1,용인시,마북동,85431116,127.127350,37.303352,MALE,14,EV라운지,1,9.994,9.994,both
2,20220602,4,용인시,동백2동,86198990,127.154590,37.268280,MALE,14,EV라운지,4,7.502,7.502,both
3,20220608,3,용인시,죽전1동,85159183,127.117645,37.325855,FEMALE,10,EV라운지,5,3.315,3.315,both
4,20220606,1,용인시,포곡읍,88086871,127.221140,37.268005,FEMALE,14,EV라운지,4,23.050,23.050,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192552,20220611,6,용인시,상하동,85750998,127.138840,37.259216,FEMALE,13,EV라운지,5,3.629,3.629,both
192553,20220621,2,용인시,모현읍,86023090,127.148200,37.308372,MALE,7,EV라운지,2,7.140,7.140,both
192554,20220626,7,용인시,신갈동,84375154,127.090180,37.290607,MALE,12,EV라운지,4,3.502,3.502,both
192555,20220620,1,용인시,성복동,83895245,127.073105,37.318040,MALE,14,EV라운지,3,11.406,11.406,both
192556,20220601,3,용인시,구갈동,85111078,127.116196,37.277176,MALE,7,EV라운지,4,3.411,3.411,both

In [38]:
test = pd.merge(df1,df3,how = "inner", on = col,indicator=True)
display(test[100:150])
display(test)

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_x,count_cust_y,_merge
100,20220628,2,용인시,구갈동,85431060,127.127470,37.278110,MALE,5,EV라운지,3,7.108,7.108,both
101,20220606,1,용인시,서농동,83767070,127.069060,37.235550,FEMALE,12,EV라운지,6,6.116,6.116,both
102,20220630,4,용인시,상현1동,83895219,127.073166,37.306324,FEMALE,12,EV라운지,5,4.693,4.693,both
103,20220615,3,용인시,유림동,87478890,127.199740,37.259388,MALE,6,EV라운지,1,18.460,18.460,both
104,20220617,5,용인시,양지면,90262644,127.297935,37.227146,FEMALE,12,EV라운지,6,13.740,13.740,both
105,20220602,4,용인시,상현2동,84295208,127.087240,37.312683,MALE,8,에버온,1,4.231,4.231,both
106,20220609,4,용인시,역삼동,86678895,127.171630,37.239033,FEMALE,11,EV라운지,4,7.258,7.258,both
107,20220617,5,용인시,모현읍,87063100,127.184730,37.342278,MALE,12,EV라운지,2,3.727,3.727,both
108,20220620,1,용인시,이동읍,87654735,127.206190,37.194504,FEMALE,12,EV라운지,6,8.690,8.690,both
109,20220611,6,용인시,영덕2동,84327078,127.088684,37.254997,FEMALE,13,EV라운지,4,3.175,3.175,both
110,20220603,5,용인시,죽전1동,85575173,127.132280,37.333110,FEMALE,13,EV라운지,5,4.492,4.492,both
111,20220624,5,용인시,구성동,85287104,127.122314,37.293870,MALE,8,EV라운지,5,3.996,3.996,both
112,20220602,4,용인시,상현1동,84055216,127.078800,37.309498,FEMALE,9,EV라운지,4,13.677,13.677,both
113,20220617,5,용인시,보라동,85654986,127.135500,37.251095,MALE,14,EV라운지,3,4.363,4.363,both
114,20220621,2,용인시,기흥동,84711027,127.102280,37.242874,FEMALE,7,하이차저,6,3.076,3.076,both
115,20220612,7,용인시,죽전1동,85303185,127.122696,37.330830,FEMALE,12,EV라운지,2,4.492,4.492,both
116,20220622,3,용인시,이동읍,88438693,127.233790,37.197723,FEMALE,9,EV라운지,2,3.399,3.399,both
117,20220624,5,용인시,포곡읍,88134867,127.222830,37.267560,MALE,8,EV라운지,6,3.708,3.708,both
118,20220619,7,용인시,구갈동,85255057,127.121300,37.271782,FEMALE,11,EV라운지,6,3.185,3.185,both
119,20220614,2,용인시,중앙동,87478830,127.199844,37.232346,MALE,12,EV라운지,2,3.845,3.845,both
120,20220628,2,용인시,역삼동,87094863,127.186300,37.236366,FEMALE,10,EV라운지,4,3.629,3.629,both
121,20220608,3,용인시,풍덕천2동,84455209,127.092860,37.317660,MALE,12,EV라운지,6,4.051,4.051,both
122,20220628,2,용인시,동백2동,86279011,127.157360,37.280006,MALE,5,EV라운지,4,10.662,14.216,both
123,20220627,1,용인시,상현1동,83847201,127.071530,37.296852,MALE,11,하이차저,2,4.507,4.507,both
124,20220630,4,용인시,신갈동,84855097,127.107160,37.278496,MALE,3,EV라운지,1,14.868,14.868,both
125,20220622,3,용인시,구성동,85415093,127.126840,37.292534,MALE,9,EV라운지,4,3.996,3.996,both
126,20220604,6,용인시,성복동,83511270,127.059555,37.318443,FEMALE,13,EV라운지,6,15.687,15.687,both
127,20220621,2,용인시,상현2동,84439198,127.092320,37.312250,FEMALE,13,EV라운지,5,4.479,4.479,both
128,20220601,3,용인시,구성동,85975064,127.146570,37.295296,MALE,10,EV라운지,3,7.536,7.536,both
129,20220623,4,용인시,신갈동,84855100,127.107160,37.279850,FEMALE,9,EV라운지,1,16.168,16.168,both
130,20220629,3,용인시,상현2동,84215207,127.084435,37.309967,FEMALE,10,EV라운지,4,21.715,21.715,both
131,20220612,7,용인시,신갈동,84711103,127.102100,37.277130,MALE,6,하이차저,5,7.034,7.034,both
132,20220624,5,용인시,동백1동,86295015,127.157910,37.282260,MALE,3,EV라운지,6,8.860,8.860,both
133,20220605,7,용인시,동백1동,86551002,127.166930,37.283638,FEMALE,8,EV라운지,6,4.057,4.057,both
134,20220602,4,용인시,역삼동,87318849,127.194190,37.236390,FEMALE,10,EV라운지,3,10.887,10.887,both
135,20220624,5,용인시,마북동,85383121,127.125650,37.304250,MALE,5,EV Infra,4,6.630,6.630,both
136,20220615,3,용인시,신갈동,84855090,127.107185,37.275340,FEMALE,4,EV라운지,2,4.154,4.154,both
137,20220606,1,용인시,서농동,83767089,127.069010,37.244110,MALE,9,EV라운지,6,5.128,5.128,both
138,20220605,7,용인시,이동읍,87894591,127.214870,37.136383,MALE,12,EV라운지,1,11.487,11.487,both
139,20220602,4,용인시,풍덕천2동,84391214,127.090590,37.318104,MALE,12,하이차저,5,4.051,4.051,both
140,20220630,4,용인시,포곡읍,87782925,127.210360,37.283752,MALE,6,EV라운지,6,3.128,3.128,both
141,20220627,1,용인시,유림동,87174914,127.189020,37.261616,MALE,14,EV라운지,2,5.434,5.434,both
142,20220627,1,용인시,유림동,87990864,127.217770,37.262140,MALE,5,EV라운지,5,4.040,4.040,both
143,20220630,4,용인시,풍덕천1동,84487237,127.093910,37.331184,FEMALE,10,EV라운지,2,3.719,3.719,both
144,20220630,4,용인시,유림동,88390800,127.231930,37.244590,FEMALE,2,EV라운지,3,9.220,9.220,both
145,20220602,4,용인시,상현1동,84023206,127.077700,37.304085,MALE,9,EV라운지,4,3.801,3.801,both
146,20220608,3,용인시,보정동,84871156,127.107590,37.305542,FEMALE,10,하이차저,6,3.315,3.315,both
147,20220610,5,용인시,원삼면,90390505,127.302605,37.168110,MALE,10,EV라운지,6,4.585,4.585,both
148,20220603,5,용인시,역삼동,87238862,127.191360,37.239986,MALE,10,EV라운지,5,4.138,4.138,both
149,20220602,4,용인시,성복동,83767258,127.068570,37.320280,MALE,13,EV라운지,4,11.358,11.358,both

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_x,count_cust_y,_merge
0,20220619,7,용인시,신봉동,84119243,127.08097,37.323480,MALE,13,EV라운지,2,4.335,4.335,both
1,20220610,5,용인시,유림동,88358807,127.23080,37.246840,FEMALE,13,EV라운지,3,8.648,8.648,both
2,20220620,1,용인시,역삼동,86678895,127.17163,37.239033,FEMALE,11,EV라운지,5,7.258,7.258,both
3,20220617,5,용인시,동천동,84583242,127.09727,37.336150,MALE,9,EV라운지,2,4.374,4.374,both
4,20220615,3,용인시,이동읍,87734718,127.20903,37.189102,MALE,5,하이차저,1,3.229,3.229,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102887,20220610,5,용인시,죽전1동,85575165,127.13230,37.329506,FEMALE,14,EV라운지,4,9.584,9.584,both
102888,20220606,1,용인시,역삼동,87318849,127.19419,37.236390,FEMALE,10,EV라운지,2,3.629,3.629,both
102889,20220626,7,용인시,마북동,84983135,127.11157,37.299244,MALE,13,하이차저,4,8.550,8.550,both
102890,20220607,2,용인시,중앙동,87286847,127.19308,37.234580,MALE,3,EV라운지,6,4.585,4.585,both
102891,20220611,6,용인시,남사읍,86630714,127.17030,37.156097,MALE,13,EV라운지,2,6.452,6.452,both

In [21]:
result = pd.merge(df1,df2,how = "outer", on = col,indicator=True)
result = result.rename(columns={"count_cust_x" : "count_cust_resident","count_cust_y" : "count_cust_activity"})
result2 = result.drop(["count_cust_activity","_merge"],axis=1)
result2

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_resident
0,20220605,7,용인시,동백1동,86135034,127.15225,37.286300,MALE,6,EV라운지,5,3.522
1,20220625,6,용인시,상현2동,84375196,127.09008,37.309536,MALE,8,파워큐브차저,2,4.231
2,20220614,2,용인시,포곡읍,87958893,127.21660,37.274303,FEMALE,14,EV라운지,1,18.440
3,20220619,7,용인시,신봉동,84119243,127.08097,37.323480,MALE,13,EV라운지,2,4.335
4,20220624,5,용인시,상현2동,84423187,127.09178,37.306840,MALE,8,EV라운지,4,4.231
...,...,...,...,...,...,...,...,...,...,...,...,...
453625,20220628,2,용인시,성복동,83687264,127.06575,37.320717,FEMALE,8,EV라운지,2,NaN
453626,20220624,5,용인시,기흥동,84502989,127.09507,37.219864,MALE,7,EV라운지,4,NaN
453627,20220621,2,용인시,모현읍,86023090,127.14820,37.308372,MALE,7,EV라운지,2,NaN
453628,20220628,2,용인시,신봉동,84103247,127.08040,37.324825,MALE,3,EV라운지,5,NaN
453629,20220626,7,용인시,신갈동,84375154,127.09018,37.290607,MALE,12,EV라운지,4,NaN

In [22]:
result3 = pd.merge(result2,df3,how = "outer", on = col,indicator=False)
result3 = result3.rename(columns={"count_cust" : "count_cust_ra"})
result3.loc[:,'count_cust_activity'] = result.loc[:,'count_cust_activity']
result3

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_resident,count_cust_ra,count_cust_activity
0,20220605,7,용인시,동백1동,86135034,127.152250,37.286300,MALE,6,EV라운지,5,3.522,NaN,NaN
1,20220625,6,용인시,상현2동,84375196,127.090080,37.309536,MALE,8,파워큐브차저,2,4.231,NaN,NaN
2,20220614,2,용인시,포곡읍,87958893,127.216600,37.274303,FEMALE,14,EV라운지,1,18.440,NaN,NaN
3,20220619,7,용인시,신봉동,84119243,127.080970,37.323480,MALE,13,EV라운지,2,4.335,4.335,4.335
4,20220624,5,용인시,상현2동,84423187,127.091780,37.306840,MALE,8,EV라운지,4,4.231,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554239,20220611,6,성남시,시흥동,84519415,127.094604,37.412310,MALE,9,하이차저,1,NaN,4.173,NaN
554240,20220602,4,광주시,경안동,89239106,127.261300,37.406456,FEMALE,10,EV라운지,4,NaN,3.719,NaN
554241,20220620,1,화성시,남양읍,76983320,126.830760,37.156020,MALE,11,하이차저,4,NaN,13.521,NaN
554242,20220607,2,성남시,위례동,85863462,127.141785,37.471504,MALE,10,EV라운지,4,NaN,11.457,NaN
554243,20220619,7,강남구,역삼1동,82791718,127.033035,37.499966,MALE,8,하이차저,5,NaN,4.232,NaN

In [23]:
result[100:120]

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_resident,count_cust_activity,_merge
100,20220621,2,용인시,동백2동,86182990,127.154030,37.267826,MALE,9,EV라운지,2,4.173,NaN,left_only
101,20220616,4,용인시,동백1동,86119036,127.151690,37.286750,FEMALE,8,EV라운지,3,4.057,NaN,left_only
102,20220620,1,용인시,상하동,85671029,127.135960,37.270927,MALE,11,EV라운지,4,11.556,NaN,left_only
103,20220604,6,용인시,마북동,85431116,127.127350,37.303352,MALE,8,하이차저,4,4.232,4.232,both
104,20220613,1,용인시,보라동,85654987,127.135500,37.251545,MALE,7,하이차저,5,3.594,NaN,left_only
105,20220621,2,용인시,상현1동,83975201,127.076020,37.300472,MALE,9,EV라운지,4,7.602,NaN,left_only
106,20220619,7,용인시,영덕2동,84359073,127.089810,37.253650,FEMALE,11,EV라운지,4,3.296,3.296,both
107,20220627,1,용인시,영덕1동,83879146,127.072790,37.272970,MALE,10,EV라운지,6,3.055,NaN,left_only
108,20220618,6,용인시,마북동,84983134,127.111570,37.298794,MALE,11,EV라운지,4,4.027,4.027,both
109,20220610,5,용인시,모현읍,88710985,127.242900,37.337010,FEMALE,8,EV라운지,3,3.588,NaN,left_only
110,20220626,7,용인시,구성동,85127112,127.116684,37.292950,MALE,4,EV라운지,2,3.904,3.904,both
111,20220616,4,용인시,동천동,84695249,127.101190,37.342476,MALE,7,EV라운지,5,4.722,NaN,left_only
112,20220615,3,용인시,모현읍,88103055,127.221390,37.351383,FEMALE,10,EV라운지,4,12.940,12.940,both
113,20220616,4,용인시,동백2동,86246991,127.156270,37.270090,MALE,3,EV라운지,5,4.886,NaN,left_only
114,20220603,5,용인시,영덕1동,83943145,127.075040,37.274330,MALE,11,EV라운지,5,6.110,6.110,both
115,20220621,2,용인시,신봉동,84135235,127.081550,37.320324,MALE,11,EV라운지,2,3.819,NaN,left_only
116,20220624,5,용인시,죽전1동,85495174,127.129470,37.331300,MALE,12,EV라운지,4,4.718,NaN,left_only
117,20220619,7,용인시,구성동,85335099,127.124016,37.292973,MALE,8,하이차저,3,3.996,NaN,left_only
118,20220622,3,용인시,풍덕천2동,84215218,127.084404,37.314926,MALE,9,EV라운지,2,8.194,NaN,left_only
119,20220622,3,용인시,모현읍,88998982,127.253030,37.343792,FEMALE,12,EV라운지,4,23.160,23.160,both

In [24]:
result3[100:120]

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_resident,count_cust_ra,count_cust_activity
100,20220621,2,용인시,동백2동,86182990,127.154030,37.267826,MALE,9,EV라운지,2,4.173,NaN,NaN
101,20220616,4,용인시,동백1동,86119036,127.151690,37.286750,FEMALE,8,EV라운지,3,4.057,NaN,NaN
102,20220620,1,용인시,상하동,85671029,127.135960,37.270927,MALE,11,EV라운지,4,11.556,NaN,NaN
103,20220604,6,용인시,마북동,85431116,127.127350,37.303352,MALE,8,하이차저,4,4.232,4.232,4.232
104,20220613,1,용인시,보라동,85654987,127.135500,37.251545,MALE,7,하이차저,5,3.594,NaN,NaN
105,20220621,2,용인시,상현1동,83975201,127.076020,37.300472,MALE,9,EV라운지,4,7.602,NaN,NaN
106,20220619,7,용인시,영덕2동,84359073,127.089810,37.253650,FEMALE,11,EV라운지,4,3.296,3.296,3.296
107,20220627,1,용인시,영덕1동,83879146,127.072790,37.272970,MALE,10,EV라운지,6,3.055,NaN,NaN
108,20220618,6,용인시,마북동,84983134,127.111570,37.298794,MALE,11,EV라운지,4,4.027,4.027,4.027
109,20220610,5,용인시,모현읍,88710985,127.242900,37.337010,FEMALE,8,EV라운지,3,3.588,NaN,NaN
110,20220626,7,용인시,구성동,85127112,127.116684,37.292950,MALE,4,EV라운지,2,3.904,3.904,3.904
111,20220616,4,용인시,동천동,84695249,127.101190,37.342476,MALE,7,EV라운지,5,4.722,NaN,NaN
112,20220615,3,용인시,모현읍,88103055,127.221390,37.351383,FEMALE,10,EV라운지,4,12.940,12.940,12.940
113,20220616,4,용인시,동백2동,86246991,127.156270,37.270090,MALE,3,EV라운지,5,4.886,NaN,NaN
114,20220603,5,용인시,영덕1동,83943145,127.075040,37.274330,MALE,11,EV라운지,5,6.110,6.110,6.110
115,20220621,2,용인시,신봉동,84135235,127.081550,37.320324,MALE,11,EV라운지,2,3.819,NaN,NaN
116,20220624,5,용인시,죽전1동,85495174,127.129470,37.331300,MALE,12,EV라운지,4,4.718,NaN,NaN
117,20220619,7,용인시,구성동,85335099,127.124016,37.292973,MALE,8,하이차저,3,3.996,NaN,NaN
118,20220622,3,용인시,풍덕천2동,84215218,127.084404,37.314926,MALE,9,EV라운지,2,8.194,NaN,NaN
119,20220622,3,용인시,모현읍,88998982,127.253030,37.343792,FEMALE,12,EV라운지,4,23.160,23.160,23.160

In [25]:
# result3.to_csv("../data/merge_data_3.csv",encoding = "cp949", index = False)